CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
bs2_default*
*.bin
*.dis
*.elf
*.elf.map
*.hex
*.uf2
.ninja_deps
.ninja_log
**/PicoX68Key-backups/*
**/*.lck
**/*.bak

